#vt100 #cursor.bright {
  background-color: white;
  color:            black;
}

#vt100 #cursor.inactive {
  border:	    1px solid white;
  margin:	    -1px;
}

#vt100 #scrollable {
  background-color: #444444;
}

#vt100 .ansi0 {
  color:	    #ffffff;
}
